html, body
{
	margin: 0;
	border: 0;
	padding: 0;
	background-color: #161616;
	color: #FFFFFF;
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;

	font-family: Raleway, sans-serif;
}

h1
{
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 32pt;
}
h2
{
	margin-top: 32pt;
	margin-bottom: 16pt;
	font-weight: normal;
	font-size: 24pt;
}
h3
{
	font-size: 18pt;
	font-weight: normal;
	font-style: normal;
}
h4
{
	width: 100%;
	text-align: center;
	font-size: 14pt;
	font-weight: normal;
	font-style: italic;
	margin-top: 0pt;
	margin-bottom: 4pt;
}

.temp
{
	color: #AAAAAA;
}

a
{
	font-weight: normal;
	font-style: normal;
	text-decoration: underline;
}
a:link
{
	color: inherit;
}
a:visited
{
	color: inherit;
}
a:hover
{
	color: #aa7777;
}
a:active
{
	color: inherit;
} 

hr
{
	border: none;
	height: 1px;
	color: #ffffff;
	background-color: #ffffff;
	margin-top: 0;
	margin-bottom: 24pt;
}
hr.big
{
	margin-top: 24pt;
	margin-bottom: 48pt;
}

table
{
	width: 100%;
}
th, td
{
	text-align: right;
	padding-right: 6pt;
}
th.alignCenter, td.alignCenter
{
	padding-right: 0;
}

.alignLeft
{
	text-align: left;
}
.alignCenter
{
	text-align: center;
}
.alignRight
{
	text-align: right;
}

/* TABS -------------------------------------------------------------------- */
.tabSection
{
	overflow: hidden;
}
.tabSelector
{
	float: left;
	font-size: 18pt;
	margin-right: 48pt;
	font-weight: normal;
	font-style: normal;
	text-decoration: underline;
}
.tabSelector:hover
{
	color: #aa7777;
	cursor: pointer;
}
.tabSelector.active
{
	color: #aa7777;
}

.tabContent
{
	display: none;
}
.tabContent.active
{
	display: inherit;
}

/* COLLAPSIBLES ------------------------------------------------------------ */
.collapsible
{
	transition: filter 100ms;
}
.collapsible:hover
{
	filter: brightness(1.25);
	cursor: pointer;
}

/* OTHER ------------------------------------------------------------------- */
#everything
{
	margin: 0;
	width: 100%;
}

.thinWrapper
{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	min-width: 500pt;
}

table.tableFastestKills > tbody > tr,
table.tablePlayers > tbody > tr,
table.tableGames > tbody > tr
{
	height: 32pt;
}

table.tableGames > tbody > .win
{
	background-color: #1d351c;
}

table.tableStats > * > th, td
{
	width: 60pt;
}

.rowLighter
{
	background-color: #FFFFFF30;
}

/* BOSS FRAME -------------------------------------------------------------- */
.bossBackground
{
	position: relative;
	margin: 0;
	margin-bottom: 18pt;
	padding: 0;
	padding-bottom: 32pt;
	width: 100%;
}
.bossBackground > img
{
	position: absolute;
	top: 0;
	height: 100%;
	max-height: 500pt;
	opacity: 75%;
}
.bossBackground > img.left
{
	left: 0;
}
.bossBackground > img.right
{
	right: 0;
}

.bossTitle
{
	overflow: hidden;
}
.bossTitleLeft
{
	float: left;
}
.bossTitleRight
{
	float: right;
}

/* BOSS LEADERBOARD -------------------------------------------------------- */
.tableFastestKills > * > tr
{
	height: 24pt;
}
.tableTopStat > * > tr > th
{
	text-align: right;
	width: 18%;
	padding-bottom: 8pt;
}
.tableTopStat > * > tr > td
{
	text-align: right;
	width: 18%;
	font-size: 18pt;
}
.tableTopStat > * > tr > .columnRank
{
	text-align: center;
	width: 12pt;
	font-size: inherit;
}

.topPlayer
{
	overflow: hidden;
}
.topPlayerInfo
{
	float: right;
}
.topPlayerName
{
	font-size: 12pt;
}
.topPlayerImage
{
	float: left;
	width: 32pt;
	margin-left: 8pt;
}
.topPlayerImage > img
{
	width: 100%;
}


/* ACHIEVEMENTS ------------------------------------------------------------ */
.achievementsInner
{
	padding-left: 28pt;
}

.achievementFrame
{
	background-color: #222;
	padding-left: 8pt; padding-right: 8pt;
	padding-top: 2pt; padding-bottom: 2pt;
	margin-bottom: 8pt;
}
.achievementFrame.collapsible.earned.H
{
	background-color: #1d351c;
}
.achievementFrame > p
{
	color: #AAA;
}
.achievementFrame.earned > p
{
	color: inherit;
}

/* PLAYER ------------------------------------------------------------------ */
.playerRow
{
}

.playerImageName
{
	height: 32pt;
	width: 200pt;
	position: relative;
}
.playerImageName > img
{
	float: left;
	height: 100%;
}
.playerImageName > .player
{
	margin: 0;
	position: absolute;
	left: 40pt;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	overflow: hidden;
}

.player
{
}

.player0
{
	color: #ff0303;
}
.player1
{
	color: #0042ff;
}
.player2
{
	color: #1ce6b9;
}
.player3
{
	color: #540081;
}
.player4
{
	color: #fffc01;
}
.player5
{
	color: #FF8A0E;
}
.player6
{
	color: #20c000;
}
.player7
{
	color: #e55bb0;
}
